@import "tailwindcss";

/* Smooth infinite logos scroll */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.pageonetitle{
  background: linear-gradient(90deg, #FFF 23.45%, #ADACAC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 57.6px */
}

.cardwrapper{
  border-radius: 0px 0px 20px 20px;
  background: #FA704B;
}

.pageonetop{
  border: 1px solid #7B564C;
  border-bottom: none;
  background: rgba(183, 95, 95, 0.25);
}

.pageoneh2title{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
}

.pageonebutton{
  color: #000;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}

.speciasda{
  background: linear-gradient(90deg, #FFF 0%, #DBCACA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  line-height: 112%; /* 64.96px */
}

.goadsgvedfevg{
  border-radius: 654.181px;
  background: #FF6035;
  filter: blur(274.7605895996094px);
  transform: rotate(26.594deg);
  flex-shrink: 0;
}

.bgrounsseccli{
  border-radius: 20px;
  background: rgba(175, 50, 16, 0.20);
}

.tradines{
  background: linear-gradient(90deg, #FFFFFF 23.45%, #ADACAC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  /* .lineronezse{
    background-color: #522FC780;
  }
  .lineronesssss{
    background: linear-gradient(90deg, #070312 42.15%, #07031200 100%);
    flex-shrink: 0;
  }
  .lineronesssss22{
    background: linear-gradient(270deg, #070312 42.15%, #07031200 100%);
    flex-shrink: 0;
  } */

/* :root {
  --background: #000000;
  --foreground: #000000;
  --font-sans: "Inter", "Staff Grotesk Test", sans-serif;
  --font-mono: "Inter", monospace;
}

a {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
} */

/* @font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Medium-BF66385475c19b6.otf")
    format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Regular-BF66385476bf383.otf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Bold-BF66385476837b7.otf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./font/inter_Inter-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
} */
/* #smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}
 */
